@{
  Layout = "_Layout";
}
<h3 class="white-header">Your word count is:</h3>
<h1 class="red-header">@Model.GetCount()</h1>
<br>
<form id="homeButton" action="/form">
  <button type="submit" class="btn">Go home</button>
</form>